
body {

    background-color: hsl(0, 40%, 68%);

    font-family: Arial, sans-serif; 
    
    color: hsl(358, 40%, 19%);

    margin: 0;

    padding: 0;

  }
  
  
/* used to get the newspaper image as background */
  .page-wrapper {

    width: 70%; 

    background-image: url('../img/newspaper1.jpg'); 
    background-size: cover;  
    background-position: center;
    background-attachment: scroll;

    margin: 20px auto; 
    padding: 15px;
    box-sizing: border-box;

  }
  

  header h1 {

    text-align: center;
    font-weight: normal; 

    font-family: Georgia, serif;

    margin-bottom: 10px;

  }
  


  header h2 {

    font-family: Arial, sans-serif;
    text-align: center;

    font-size: 26px;

    padding: 10px;
    width: 60%;
    margin: 0 auto;

    background-image: linear-gradient(0deg, hsl(305, 51%, 77%), rgb(230, 172, 212), rgb(228, 168, 181));

    /* animation for header */
    animation: changeColor 4s infinite;


  }
  

  /* keyframe animation for header */
  @keyframes changeColor {

    from {
      background-image: linear-gradient(90deg, hsl(305, 51%, 77%), rgb(230, 172, 212),rgb(228, 168, 181));
    }

    50% {
      background-image: linear-gradient(180deg,hsl(305, 51%, 77%), hsl(319, 54%, 79%), hsl(347, 53%, 78%));
    }

    to {
      background-image: linear-gradient(270deg, hsl(305, 51%, 77%), hsl(319, 54%, 79%), hsl(347, 53%, 78%));
    }


  }
  


  
  h3 {

    color: hsl(358, 40%, 19%);
    border-bottom: 1px solid hsl(358, 40%, 19%);
    padding-bottom: 3px;

  }
  


  /* sidefar fixed on right side of page */
  .sidebar {

    position: fixed;

    top: 20%;
    right: 2%;
    width: 20%;

    background-color: hsla(0, 50%, 87%, 0.7);

    padding: 10px;

    box-sizing: border-box;


  }
  

  .sidebar ul {


    list-style-type: none;

    padding: 0;

    margin: 0;

  }
  

  .sidebar li {

    margin-bottom: 5px;

  }
  

  .sidebar a {

    text-decoration: none;
    color: hsl(358, 40%, 19%);
    font-weight: normal;

  }
  

  .sidebar a:hover {
    color: darkred;

  }
  
  
  a {
    text-decoration: none;
    color: hsl(358, 40%, 19%);
  }
  


  a:hover {
    color: darkred;
  }


  
  footer {

    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;

  }
  

  